:root {
--Blue: hsl(223, 87%, 63%);
--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    margin: 5% 0 5% 0;
    background-color: #FFFF;
    font-family: "Libre Franklin", serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
   
}

.logo {
    width: 5%;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--Gray);
}

h1 > strong {
    color: var(--Very-Dark-Blue);
}

.container > h1 + p {
    color: var(--Very-Dark-Blue);
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.inproviso {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;
}

#email {
    height: 50px;
    width: 420px;
    border: solid var(--Pale-Blue) 2px;
    border-radius: 50px;
}

#email::placeholder {
    padding: 20px;
    color: var(--Pale-Blue);
}

#email:hover {
    border: solid var(--Gray) 2px;
    cursor: pointer;
}

#email + button {
    width: 180px;
    border: none;
    border-radius: 50px;
    background-color: var(--Blue);
    color: #FFFF;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
    box-shadow: 8px 8px 10px var(--Pale-Blue);

}

#email + button {
    cursor: pointer;
}


.illustration {
    width: 40%;
}