:root {
--Blue: #4f7df3;
--Pale-Blue: #c2d3ff;
--Light-Red: #ff5263;
--Gray: #969696;
--Very-Dark-Blue: #151f29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    margin: 5% 0 3% 0;
    background-color: #FFFF;
    font-family: "Libre Franklin", serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
   
}

.logo {
    width: 75px;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
    color: var(--Gray);
    margin-bottom: 10px;
}

h1 > strong {
    color: var(--Very-Dark-Blue);
}

.container > h1 + p {
    color: var(--Very-Dark-Blue);
    font-size: 1.1rem;
    margin-bottom: 2.3%;
}

.inproviso {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#email {
    height: 50px;
    width: 390px;
    border: solid var(--Pale-Blue) 2px;
    border-radius: 50px;
}

#email::placeholder {
    padding: 20px;
    color: var(--Pale-Blue);
}

#email:hover {
    border: solid var(--Gray) 2px;
    cursor: pointer;
}

.erro-message {
    position: relative;
    right: 11.5%;
    
}

#erro {
    color: var(--Light-Red);
    font-size: 0.7rem;
}

#email + button {
    width: 180px;
    border: none;
    border-radius: 50px;
    background-color: var(--Blue);
    color: #FFFF;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.7px;
    box-shadow: 8px 8px 10px var(--Pale-Blue);

}

#email + button {
    cursor: pointer;
}


.illustration {
    padding-top: 4.6%;
    width: 40%;
}

footer {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.importantes {
    text-align: center;
    text-decoration: none;
}

.redes_sociais {
    width: 2%;
    margin: 0 10px 20px 10px ;
    border-radius: 50px;
    padding: 5px;
    border: solid var(--Pale-Blue) 1px;
}

.redes_sociais:hover {
    border: solid #4f7df3 1px;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

footer > .importantes > p {
    color: var(--Gray);
    font-size: 0.9rem;
}


.attribution {
    margin-top: 15px;
    color: var(--Gray);
    font-size: 0.9rem;
}

@media (max-width: 480px) {

    body {
        margin: 10%;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .logo {
        width: 20%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .container > h1 + p {
        font-size: 0.9rem;
    }

    .inproviso {
        flex-direction: column;
    }

    #email {
        width: 100%;
    }

    #email::placeholder {
        padding: 30px;
    }

    #email + button {
        height: 50px;
        width: 340px;
    }

    .illustration {
        width: 110%;
    }

    footer {
        margin-top: 20%;
    }

    .redes_sociais {
        width: 5%;
    }

   

}

